<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('二类非例行维修需求')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="nonroutine2-form">
                    <div class="select-list">
                        <ul>
                            <li>工卡指令号：<input type="text" name="jobcardNo"/></li>
                            <li>飞机号：<input type="text" name="aircraftNo"/></li>
                            <li>是否完成：
                                <select name="isDone">
                                    <option value="">所有</option>
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()"><i class="fa fa-plus"></i> 新增</a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"><i class="fa fa-edit"></i> 修改</a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"><i class="fa fa-remove"></i> 删除</a>
                <a class="btn btn-info" onclick="$.table.importExcel()"><i class="fa fa-upload"></i> 导入</a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()"><i class="fa fa-download"></i> 导出</a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "fleet/task/nonroutine2";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/import",
                modalName: "二类非例行维修需求",
                columns: [
                    {checkbox: true},
                    {field: 'id', title: 'ID', visible: false},
                    {field: 'jobcardNo', title: '工卡指令号'},
                    {field: 'aircraftNo', title: '飞机号'},
                    {field: 'publishTime', title: '南航发布时间'},
                    {field: 'calcDeadline', title: '计算期限日期'},
                    {field: 'isDone', title: '是否完成'},
                    {field: 'finishTime', title: '本次完成时间'},
                    {field: 'jobcardTitle', title: '工卡标题'}
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
